.card {
    border: 1px solid green;
}

button {
    background-color: inherit;
    border: 0;
    cursor: pointer;
}

img {
    height: 1.5rem;
    width: 1.5rem
}

.cardBtns {
    display: flex;
    justify-content: space-between;
}